<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="7.4.5196.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="1.1" targetFramework="net45" />
  <package id="OpenNLP.NET" version="1.5.3.0" targetFramework="net45" />
</packages>